name: Test
on: push
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 2
      
      - name: Check has changes
        id: check-changes-root
        uses: rdietrick/did-files-change@v1.0
        with:
          pathspec: .

      - name: Debug
        run: |
          echo "Has changes: ${{ steps.check-changes-root.outputs.changed }}"

      - name: Test
        if: steps.check-changes-root.outputs.changed == '1'
        run: |
          echo "Files did change!"

      - name: Check has changes in test
        id: check-changes-test
        uses: rdietrick/did-files-change@v1.0
        with:
          pathspec: test

      - name: Debug
        run: |
          echo "Has changes in test dir: ${{ steps.check-changes-test.outputs.changed }}"

      - name: Test
        if: steps.check-changes-test.outputs.changed == '1'
        run: |
          echo "Files did change!"
